* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PADS */

span.pad::after {
  content: "pad";
  
  position: absolute;
  right: -52px;
  top: 0px;

  padding: 2px;

  border: 1px solid red;
  color: red;
  font-size: 9px;
  font-family: arial;
}

iframe {
  width: 100%;
  min-height: calc(100vh - 60px);
}


/* AUDIO / VIDEO */

audio, video {
  width: 100%;
}

/* LAYOUT */
body {
  font-family: sans-serif;

  display: flex;
  justify-content: space-between;

  padding: 30px;
}

main {
  flex: 1;

  position: relative;
}
aside {
  flex-shrink: 0;

  margin-left: 20px;
  width: calc(33.33% - 13.5px);
  width: calc((100% / 3) - 13.5px);
}
.sticky {
}
.note {
  position: relative;
}





/* BOUTONS */

.suppr {
  font-size: 15px;

  width: 30px;
  height: 30px;

  margin-top: 20px;
}
.save {
  position: absolute !important;
  top: 0px;
  right: 0px;

  font-size: 20px;

  width: 50px;
  height: 50px;
}
main input, button {
	display: block;

  padding: 5px;

  border: 1px solid #bbb;
  border-radius: 4px;
}

main input:active, button:active {
  border: 1px solid blue;
  color: blue;
}
.deletion {
	display: none;
}
.deletion.active {
	display: block;
}



/* EDITOR */

.editor {
  margin-top: 20px;
}

.editor img {
  width: 100%;
}
.CodeMirror {
  border: 1px solid #bbb;
}
/*
.CodeMirror,
.CodeMirror-scroll {
	min-height: 200px;
	max-height: 90vh;
}
*/


/* TEMPLATE */
.evoli {
	display: none;
}



/* REORD  */
#liste_pages .fas.handler {
  float: left;

  position: relative;
  top: 7px;
  cursor: move;
}
.fas.handler {
  cursor: pointer;
}
#liste_pages span {
  position: relative;
}

div.fas.fa-pen::before {
  display: none;
}
#liste_pages li.active div.fas.fa-pen::before {
  display: block;

  content: "\f304";
  position: relative;
  top: 0px;
  right: -8px;

  color: blue;
  font-size: 13px;
}



/* ASIDE */
aside span {
  cursor: pointer;
}



/* UPLOAD */

.upload {
  border-left: 1px solid blue;
  padding-left: 20px;
}

.upload img {
  width: 100%;
  display: block;
}
.upload .ligne {
  display: flex;
  align-items: center;

  margin: 5px 0px 5px 0px;
  padding: 4px 7px;

  border: 1px solid #bbb;
  border-radius: 4px;
}
#snd_list .ligne {
  flex-direction: column;
  align-items: flex-start;
}
.upload .ligne figure, .upload .ligne video {
  flex-shrink: 0;

  margin-right: 10px;
  height: 50px;
  width: 50px;

  overflow: hidden;
}
.ligne figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload .ligne p {
  width: calc(100% - 60px);

  font-size: 0.7rem;
  text-decoration: none;
  letter-spacing: 0.4px;
  word-wrap: break-word;

  font-family: sans-serif;
  letter-spacing: .2px;
  color: #444;
}


/* au delà des écran mobiles */
.fas.menu_button {
  display: none;
}







@media only screen and (min-width : 0px) and (max-width : 480px) {
body {
  padding: 15px;
}
aside {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;
  margin-left: 0px;
  padding: 15px;

  background: #f0f3f3;

  overflow-y: scroll;
  overflow-x: hidden;
}
aside.visible {
  display: block;
}
.sticky {
  margin-bottom: 15px;
}


.fas.menu_button {
  display: block;

  font-size: 20px;
  
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

/* TYPO */
#liste_pages li, aside span {
  font-size: 1rem;
}

}

@media only screen and (min-width : 481px) and (max-width : 767px) {
body {
  padding: 15px;
}
aside {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100vh;
  margin-left: 0px;
  padding: 15px;

  background: #f0f3f3;

  overflow-y: scroll;
  overflow-x: hidden;
}
aside.visible {
  display: block;
}
.sticky {
  margin-bottom: 15px;
}


.fas.menu_button {
  display: block;

  font-size: 20px;
  
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

/* TYPO */
#liste_pages li, aside span {
  font-size: 1rem;
}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {

}

@media only screen and (min-width : 1301px) and (max-width : 1824px){

}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 2561px) {


}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-device-width : 750px) and (orientation : landscape) {

}

@media only screen and (min-width : 481px) {

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
