@font-face {
    font-family: "Playfair Display";
    src: url("font/PlayfairDisplay-Regular.woff2");
}
@font-face {
    font-family: "Playfair Display Italic";
    src: url("font/PlayfairDisplay-Italic.woff2");
}
@font-face {
    font-family: "Playfair Display Bold";
    src: url("font/PlayfairDisplay-Bold.woff2");
}
@font-face {
    font-family: "Playfair Display Bold Italic";
    src: url("font/PlayfairDisplay-BoldItalic.woff2");
}

strong {
	font-family: "Playfair Display Bold";
	font-weight: 300;
}

em {
	font-family: "Playfair Display Italic";
	font-style: normal;
}
.note {

}


.CodeMirror {
	font-family: sans-serif;
	letter-spacing: .2px;
	font-size: 15px;
}
body {
	font-family: "Playfair Display";
}

main h1 {
	position: relative;
	z-index: 0;
	top: -5px;
}

main h2 {
	margin-left: 10px;
	font-size: 1.0rem;

	display: inline-block;
}
main h3 {
	color: blue;
	font-size: 0.7rem;

	display: inline-block;

	padding: 2px 4px 3px 4px;

	border: 1px solid blue;
}

main p, main li {
	margin: 10px 0px 10px 0px;
}

/*
h1::before {
	content: "";
	background: blue;
	width: calc(100% + 20px);
	position: absolute;
	height: calc(100% + 10px);
	top: -5px;
	left: -10px;
	z-index: -1;
}
*/

/* ASIDE */

#menu, #tags, #liste_pages {
	border-left: 1px solid blue;
	padding-left: 20px;
}
/* menu */
#menu a {
	display: block;

	color: black;
}

/* tags */
#tags, #liste_pages, .upload {
    margin-top: 30px;
}

aside h2 {
	font-size: 0.8rem;
	border-bottom: 1px solid black;

	margin-bottom: 3px;
}

aside .liste_tags {
	padding-left: 10px;
	margin-bottom: 20px;
}
aside span {
	font-size: 0.8rem;
	text-decoration: none;
	letter-spacing: 0.4px;

	border-bottom: 1px solid blue;

	margin-left: 7px;
}

#liste_pages li {
	list-style: none;
}
.blue-background-class {
	background: #dadaf8;
}
















@media only screen and (min-width : 0px) and (max-width : 480px) {

#menu, #tags, #liste_pages, .images {
  padding-left: 15px;
}
#liste_pages li {
	font-size: 1.5rem;
}
#liste_pages .fas.handler {
	padding: 3px;
}
aside span {
	font-size: 1rem;	
}


}

@media only screen and (min-width : 481px) and (max-width : 767px) {
#menu, #tags, #liste_pages, .images {
  padding-left: 15px;
}
#liste_pages li {
	font-size: 1.5rem;
}
#liste_pages .fas.handler {
	padding: 3px;
}
aside span {
	font-size: 1rem;	
}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {

}

@media only screen and (min-width : 1301px) and (max-width : 1824px){

}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 2561px) {


}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-device-width : 750px) and (orientation : landscape) {

}

@media only screen and (min-width : 481px) {

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
